/* This works in webpack, but not in snowpack */
/* @import url('./block.css'); */

/* This works in snowpack, but not in webpack */
@import url('./dist/css/block.css');

#main {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
}
